<h1>Editing scriptbody</h1>

<% form_for(@scriptbody) do |f| %>
  <%= f.error_messages %>
  <p>
  name
  <%= f.text_field :o_name %>
  </p>
  <p>
  xsl<br/>
  <%= f.text_area :o_body, :cols=>80 %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @scriptbody %> |
<%= link_to 'Back', scriptbodies_path %>